div {
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 2px solid grey;
}

th, td {
    padding: 10px 0 10px 4px;
}

tr td:nth-child(1) {
    text-align: center;
}

tr:nth-child(1) th:nth-child(n+2) {
    background-color: yellow;
}

tr:nth-child(2) {
    background-color: orange;
}

p.tieu-de {
    color: blue;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.desc {
    color: dodgerblue;
    font-size: 20px;
    line-height: 28px;
}